<div data-controller="meal-plans-new" class="max-w-3xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">献立作成</h1>

  <!-- ホームに戻るボタン -->
  <%= link_to home_path, class: "btn btn-outline" do %>
    ⬅ ホームに戻る
  <% end %>

  <!-- ジャンルフィルターボタン -->
  <div id="genreFilters" class="flex gap-2 my-4 flex-wrap">
  <button
    class="btn btn-sm btn-primary genre-filter-button"
    data-genre="all"
    type="button">
    全部
  </button>

  <% MyMenu.genres.keys.each do |genre| %>
    <button
      class="btn btn-sm genre-filter-button <%= genre_button_class(genre) %>"
      data-genre="<%= genre %>"
      type="button">

      <span class="genre-label">
        <%= MyMenu.genres_i18n[genre] %>
      </span>

      <span
        id="count-<%= genre %>"
        class="ml-1 hidden text-xs font-bold">
      </span>

    </button>
  <% end %>
</div>


  <div class="mt-4">
    <p class="text-xs font-semibold text-gray-500 mb-1">タグ</p>

    <div id="tagFilters" class="flex gap-2 flex-wrap">
      <% @tags.each do |tag| %>
        <button
          type="button"
          class="btn btn-xs btn-outline text-gray-500 hover:bg-base-200 tag-filter-button"
          data-tag-id="<%= tag.id %>">
          #<%= tag.name %>
        </button>
      <% end %>
    </div>
  </div>

  <select id="sortSelect" class="select select-bordered w-full max-w-xs">
    <option value="">---</option>
    <option value="created_desc">登録日（新しい順）</option>
    <option value="last_cooked_desc">直近で作っていない順</option>
    <option value="title_asc">50音順</option>
  </select>

  <%= form_with url: confirm_meal_plans_path, method: :post, data: { turbo_frame: "modal" } do %>
    <!-- メニュー一覧 -->
    <div id="menuList" class="grid gap-4">
      <% @my_menus.each do |menu| %>
        <label
          class="flex gap-2 items-center menu-item"
          data-genre="<%= menu.genre %>"
          data-tags="<%= menu.tags.pluck(:id).join(',') %>"
          data-created="<%= menu.created_at.to_i %>"
          data-last-cooked="<%= menu.last_cooked_at ? menu.last_cooked_at.to_time.to_i : 0 %>"
          data-title="<%= menu.title %>"
        >
          <%= check_box_tag "my_menu_ids[]",
                menu.id,
                false,
                class: "menu-checkbox",
                data: { genre: menu.genre } %>
          <span><%= menu.title %>（<%= menu.genre_i18n %>）</span>
        </label>
      <% end %>
    </div>

    <div class="mt-6 text-center">
      <%= submit_tag "確認", class: "btn btn-primary" %>
    </div>
  <% end %>

  <!-- Turbo Frame for Modal -->
  <%= turbo_frame_tag "modal" %>
</div>