<% content_for :title, "お問い合わせ" %>

<div class="max-w-xl mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-6 text-center">お問い合わせ</h1>

  <% if notice %>
    <div class="bg-green-100 p-3 rounded mb-4"><%= notice %></div>
  <% end %>

  <%= form_with model: @contact, url: contact_path do |f| %>

    <div class="mb-4">
      <%= f.label :name, "お名前" %>
      <%= f.text_field :name, class:"w-full border p-2 rounded" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class:"w-full border p-2 rounded" %>
    </div>

    <div class="mb-4">
      <%= f.label :message, "お問い合わせ内容" %>
      <%= f.text_area :message, rows:5, class:"w-full border p-2 rounded" %>
    </div>

    <%= f.submit "送信する", class:"bg-orange-400 text-white px-4 py-2 rounded" %>
  <% end %>
</div>
